body{background-color: PowderBlue ;}
h2{color:black}
p{color:blue}

.p1{color : red; font-weight: bold;}
.p2{color : green; font-weight: bold;}
.p3{color : blue; font-weight: bold;}

#pid1{color:violet; font-weight: bold;}
#pid2{color:green; font-weight: bold;}
#pid3{color:blue; font-weight: bold;}